<h1>Dashboard</h1>
<table>
  <tbody>
    <%= link_to("Sign out", destroy_user_session_path, method: :delete) %><br>

    <% current_user.attributes.slice("email", "spectre_id").each do |k, v| %>
      <%= "#{k}: #{v}\n" %><br>
    <% end %>

    <%= link_to("Refresh", destroy_user_session_path, method: :delete) %><br>
    Logins:

    <br><br><br><br><br>
    <%= link_to("Add login", new_login_path) %><br><br><br><br>

    <% current_user.attributes.each do |k, v| %>
      <br> <%= "#{k} ..... #{v}" %>
    <% end %>
  </tbody>
</table>